{% extends 'base.html'%}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="col-sm-lg text-center fs-1  mt-3" style="font-weight:bold; color:#d4ad76;">About Us </div>
<div class="row">
    <div class="col-lg-10 mx-auto  py-3 px-5" style="background:;">
        <div class="row">
            <div class="col-lg-6 col-sm-12 my-4">
                 <img src="{% static 'images/about.png'%}" style="min-height:450px; width:100%;  background-size:cover;">
            </div>
            <div class="col-1" style="line-height:175px; py-2">
                 <img src="{% static 'images/user.png'%}" style="max-height:100px; max-width:100px;">
                <img src="{% static 'images/glasses.png'%}" style="max-height:100px; line-height:200px;">
                <img src="{% static 'images/placeholder.png'%}" style="max-height:100px;">
            </div>
            {% for i in adata %}
            <div class="col-lg-5 col-sm-12 text-start px-4 py-2">
                <h4 class="txt">Our Status in Number</h4>
                <span style="font-size:50px; font-weight:650; letter-spacing:6px; line-height:100px;">{{i.user}}+ </span><span style="font-weight:700;"> / Total User</span><br>
                So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
                <br>
                 <span style="font-size:50px; font-weight:650; letter-spacing:6px; line-height:130px;">{{i.exp}}+ </span><span style="font-weight:700;"> / Year of Experience</span><br>
                So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
                <br>
                 <span style="font-size:50px; font-weight:650; letter-spacing:6px; line-height:100px;">{{i.branch}}+ </span><span style="font-weight:700;"> / Branches</span><br>
                So blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}