{% extends 'base.html'%}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 header2"></div>
</div>
<div class="container-fluids slider txt">
<div class="row">
    <div class="col-sm-12 ">
        <!-- Start  Slider -->
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/pic29.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div style="transform:translateY(-340px); color:red;">
            <img src="{% static 'images/pic55.png'%}" style="height:70px; width:452px;">
        </div>
          <h1 style="color:black; transform:translateY(-340px); letter-spacing:3px;"> Witness the Ethereal Beauty with Kriya</h1>
       <p style="font-size:60px; transform:translateY(-330px);  margin:0px;" class="text-success">&#8221;</p>
          <h5 style="transform:translateY(-350px); color:rgba(121, 85, 72, 0.7) ;">Just Beautiful</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/pic30.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <div style="transform:translateY(-270px); margin-left:600px !important; color:red; height:60px; box-sizing:border-box; width:300px;">
              <img src="{% static 'images/pic54.png'%}" style="height:48px; width:206px;">
          </div>
        <h1 style="letter-spacing:4px; color:black;  margin-left:510px !important; transform:translateY(-250px);">LIVE TOWARDS ETERNITY</h1>

          <div style="transform:translateX(52px);"><h6 style=" margin-left:400px !important;  transform:translateY(-230px); color:#7e8446 ;" class=" ">Spend time with your body and soul together, so that you shall see yourself observed <br> and connected towards everything.</h6>
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/pic31.jpg'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div style="transform:translateX(-380px);" >
            <img src="{% static 'images/pic56.png'%}" style="height:66px; width:536px; transform:translateY(-400px);">
        </div>
          <div style="transform:translateX(-220px);">
          <h1 style="color:lightyellow; transform:translateY(-390px); letter-spacing:3px;  margin-left:0px;">
              Lose Yourself in an Ambiance & Atmosphere.
          </h1>
          </div>
          <div style="transform:translateX(-315px);">
              <div style=" transform:translateY(-370px); color:lightyellow;">We at KRIYA provide various services to the nature of the clients .Wish how you like to spend the time <br></div>
          <div style="transform:translatex(-180px);">
           <div style=" transform:translateY(-365px); color:lightyellow;"> here we can talk and come to a conclusion.</div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon scroll"  aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon scroll" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <!-- End Slider -->
    </div>
    </div>

</div>
<div class="container-fluids">
    <div class="row">
        <div class="col-10 mx-auto t1 txt text-success">
            A BRIEF DESCRIPTION ABOUT THE WAYS OF YOGA.
        </div>
    </div>
    <div class="col-12" style="transform:translateY(-240px);">
    <div class="row">
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(80px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic33.png'%}" height="20px" width="105px" style="margin-top:20px; transform:translateY(-10px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-75px)"/>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center py-2 t3">
           <p ><h5 class="txt"> We at KRIYA provides various services to the nature of the clients . Wish how would you like to spend the time here <br>
            we can talk and come to a conclusion.</h5>
               </p>
        </div>
    </div>
</div>
<div class="container txt">
    <div class="row t4 pt-5 text-center">
        <div class="col-3 ">
            <h3 STYLE="color:hotpink;">ASHTANGA YOGA</h3>
            <div class="img3"><img src="{% static 'images/pic7.jpg'%}" class="img" style="border-color:hotpink;"/></div>
            <img src="{% static 'images/pic6.png.'%}"  height="80px" width="250px" class="img2"/>
            <div class="txt"><p>The word Ashtanga is comprised of two sanskrit words, "Ashta" and "Anga". "Ashta" refers to the number
            eight , while "Anga" means  limb or body parts. Since from 1990's Ashtanga has been considered one of the most popular forms of yoga in Westeren World.</p></div>
        </div>
        <div class="col-3">
            <H3 STYLE="color:#f57c00;">HATHA YOGA</H3>
             <div class="img3"><img src="{% static 'images/pic8.jpg'%}" class="img " style="border-color:#f57c00;"/>
                 </div>
            <img src="{% static 'images/pic6.png'%}"  height="80px" width="250px" class="img2"/>
            <div class="txt"><p>A yoga class described as "Hatha" will typically involve  a set of physical posture. "Hatha" means force and is more
                traditionally  defined as "Yoga of Force" or "The Meaning of Attaining a State of Yoga Through Force". It consider as anything you do with body.</p></div>
        </div>
        <div class="col-3">
            <H3 STYLE="color:#4db6ac ;">IYENGAR YOGA</H3>
             <div class="img3"><img src="{% static 'images/pic9.jpg'%}" class="img" style="border-color:#4db6ac ;"/></div>
            <img src="{% static 'images/pic6.png'%}"  height="80px" width="250px" class="img2"/>
            <div class="txt"><p>Iyengar yoga decends from the most classical Hatha yoga tradition. Iyengar Yoga focuses on three aspects : alignment
            ,sequencing and timing. In Iyengar Yoga when stability is achieved in a pose it's then possible to safely intensify the depth of posture.</p></div>
        </div>
        <div class="col-3">
            <H3 STYLE="color:#c62828;">KUNDALINI YOGA</H3>
            <div class="img3"> <img src="{% static 'images/pic10.jpg'%}" class="img" style="border-color:#c62828;"/></div>
            <img src="{% static 'images/pic6.png'%}"  height="80px" width="250px" class="img2"/>
            <div class="txt"><p>Kundalini Yoga is a form of yoga that involves chanting , singing, breathing, exercise, and repetitive poses.
            As Kundalini yoga awakens this energy it's supposed to enhance your awareness and help you to move past year ago. It's also called "yoga of awareness"</p></div>
        </div>
    </div>
</div>
<div class="container-fluids ">
    <div class="row">
        <div class="col-12 para ">
            <img src="{% static 'images/pic32.png' %}" style="background-attachment:fixed !important;" height="700px" width="100%">
            <div class="row sugarcane">
                <div class="col-6 t5 text-end ">
                    <div><span style="font-size:50px; font-weight:bold; font-family:Vivaldi;" class="text-danger">your life of yoga's</span></div>
                    <div><span style="font-size:50px; font-weight:bold; font-family:Vivaldi;" class="text-danger">with</span></div>
                    <div STYLE="letter-spacing:5px; font-family:Stencil; font-size:50px; font-weight:500; color:green;">KRIYA</div>
                    <div class="my-3"><p class="txt ">
                         Yoga is an spiritual and physical practice or discipline whose origins date's
                        back to <br>  prehistoric times . Contrary to what some may think, Yoga is not just
                        exercise with <br>the main purpose of improving health and well-being, but also the
                        self-realization.</p> </div>
                </div>
                <div class="col-6 "></div>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>

<div class="container-fluids" >
    <div class="row t6" style="background:lightyellow;">

        <a name="blogs">   <div class="col-sm-12 txt pt-3 fs-1 text-success  text-center "></a>
           RECENT BLOGS
        </div>

        <div class="row mt-4 mb-5">
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(60px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic33.png'%}" height="20px" width="105px" style="margin-top:20px; transform:translateY(-5px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-55px)"/>
        </div>
    </div>
        <div class="col-12 text-center txt">
            <h5>We at KRIYA provide various services to the nature of the clients. Wish how you would like to spend the time here<br>
            we can talk and come to a conclusion.</h5></div>
        <div class="row my-5  align-center">
            {% for x in rb %}
            <div class="col-4 ">
                <div class="card " style="width: 400px; overflow:hidden; margin-left:50px;">

                    <div class="card-image" style="overflow:hidden;">
                        <img src="/{{ x.rbpic }}" style="transition:all ease 1s;" height="300px" class="card-img-top b" alt="...">
                    </div>
    <div class="card-body t7">
       <div class="row">
       <div class="col-2 blog"><div style="color:gold; font-weight:500;  font-size:30px; margin-bottom:0px; text-align:center;">{{ x.rbday }}</div>
           <div style="font-size;20px;margin-top:-5px; font-weight:500; text-align:center;">{{ x.rbmonth }}</div></div>
      <div class="col-9 ">
            <div style="FONT-SIZE:15px; font-weight:500;">By {{ x.rbname }} / {{ x.rbncomm }} COMMENTS</div>
    <h5 class="card-title pt-3 txt">Practising yoga on the sea shore is a good method.</h5>
    <p class="card-text txt py-3">Breathing in the sea air has many health benefits that are only enhanced with yoga. As long as you’re not doing beach yoga in an area with high pollution, you can enjoy all of the benefits of the sea air. Your body can actually absorb oxygen easier thanks to the nature.</p>

          </div>
      <div class="col-1 "></div>
  </div>
        </div>
</div>
            </div>
            {% endfor %}



        </div>
    </div>
    <div class="row t8 py-4">
    <div class="col-12 txt text-center fs-1  text-success" style="letter-spacing:2px;">
       WHY KRIYA ?
    </div>
        <div class="col-10 mx-auto py-5">
            <div class="row mx-auto mx-3" style="margin-left:50px !important;">
                <div class="col-1 icon">
                    <img src="{% static 'images/pic27.png'%}" height="60px" width="60px"/>
                </div>
                <div class="col-3 ktext  px-2">
                    <h5 class="txt " style="font-size:25px !important;">COMPLETE VIDEO SUPPORT</h5>
                    <img src="{% static 'images/pic6.png'%}" height="80px" width="270px" />
                    <p class="txt"> We are providing you a complete video support by using the websites like Youtube , Instagram and others.</p>
                </div>
                <div class="col-1 icon">
                    <img src="{% static 'images/pic28.png'%}" height="60px" width="60px"/>
                </div>
                 <div class="col-3 ktext  px-3">
                    <h5 class="txt" style="font-size:25px !important;">TONS OF EVENTS</h5>
                     <img src="{% static 'images/pic6.png'%}" height="80px" width="270px" />
                     <p class="txt">We are providing you a large number of events as per your need without any additional cost.</p>
                </div>
                <div class="col-1 icon">
                    <img src="{% static 'images/pic26.png'%}" height="60px" width="60px" />
                </div>
                 <div class="col-3 ktext px-3">
                    <h5 class="txt" style="font-size:25px !important;">EASY TO BOOK</h5>
                     <img src="{% static 'images/pic6.png'%}" height="80px" width="270px" />
                     <p class="txt"> We are present on almost every platform which makes easy to you to connect with us without any problem.</p>
                </div>
            </div>
        </div>
         <div class="row my-0" >
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(50px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic33.png'%}" height="20px" width="105px" style="margin-top:20px; transform:translateY(-0px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-45px)"/>
        </div>
    </div>

    </div>
    </div>
    <div class="container-fluids t9 ">
    <div class="row">
        <a name="Gallery">
        <div class="col-12 ">
            <div class="col-12 txt text-center fs-1 mt-5 text-success" style="letter-spacing:2px;">
       GALLERY</a>
    </div>
        </div>
         <div class="row mt-3" >
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(100px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic44.png'%}" height="50px" width="50px" style="margin-top:20px; transform:translateY(-25px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-100px)"/>
        </div>
    </div>
        <div class="col-12 txt text-center mb-4 mt-1">
            We at KRIYA provide various services to the nature of the clients. Wish how you would like to spend the time here<br>
we can talk and come to a conclusion.
        </div>
        </div>
        <div class="container-fluids my-2 mt-5" >
        <div class="row ">
                <div class="col-2 p-0  px-2" style="transform:translateX(129px) ; background:rgba(255, 152, 0, 0.5) ;">
                    <h2 class="mt-4 mb-0 mx-4" style="letter-spacing:2px; margin-left:40px !important;">Memories</h2>
                    <img src="{% static 'images/pic6.png'%}" height="80px" width="220px" class="mx-1 mt-0" style="transform:translateY(-20px);" />
                    <h6 class="txt text-center mx-2">We at KRIYA provide various services to the nature of the clients. Wish how you
                        would like to spend the time here we can talk and come to a conclusion.</h6>
                </div>
                <div class="col-3 " style="transform:translateX(117px);">
                    <img src="{% static 'images/pic34.jpg'%}" height="400px" class="gallery" >
                </div>
                <div class="col-2 c">
                    <div style="height:200px;"><img src="{% static 'images/pic35.jpg'%}" height="200px"  class="gallery" ></div>
                    <div style="height:200px;"><img src="{% static 'images/pic36.jpg'%}" height="200px"  class="gallery" ></div>
                </div>
                <div class="col-5">
                    <img src="{% static 'images/pic37.jpg'%}" height="400px" class="gallery"  >
                </div>


</div>
            <div class="row ">
                <div class="col-2 p-0  px-2" style="">
                    <div style="transform:translateX(117px);">
                    <img src="{% static 'images/pic43.jpeg'%}" height="400px" width="249px" class="mx-1 mt-0 gallery"   />
                    </div>
                </div>
                <div class="col-3" style="transform:translateX(117px);">
                    <img src="{% static 'images/pic42.webp'%}" height="400px" width="258px"  class="gallery" >
                </div>
                <div class="col-2">
                    <div style="height:200px;"><img src="{% static 'images/pic38.jpg'%}" height="200px" width="250px"  class="gallery" ></div>
                    <div style="height:200px;"><img src="{% static 'images/pic39.jpg'%}" height="200px" width="250px;"  class="gallery" ></div>
                </div>
                <div class="col-5">
                    <img src="{% static 'images/pic41.jpg'%}" height="400px" width="515px"  class="gallery" >
                </div>


</div>
        </div>
        <div class="row">
            <a name="events"> </a><div class="col-12 " style="padding-top:80px;">
                <h1 CLASS="txt text-center  text-success" style=" margin-bottom:0px; letter-spacing:2px;" >
                    OUR UPCOMING EVENTS</h1>
                <h6 class="txt text-center my-4">We at KRIYA provide various services to the nature of the clients. Wish how you would like to spend the time here<br>
                    we can talk and come to a conclusion.</h6>
            </div>
              <div class="row" >
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(100px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic44.png'%}" height="50px" width="50px" style="margin-top:20px; transform:translateY(-25px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-100px)"/>
        </div>
    </div>
        </div>

        <div class="row ">
            <div class="col-sm-9 mx-auto">
                <div class="row">
            {% for x in events %}
            <div class="col-6 " >
                <div class="card" style="width: 500px;">
                    <a href="/events/">
  <img src="/{{x.epic}}" class="card-img-top" alt="..." height="400px" width="400px">
                        </a>
  <div class="card-body">
    <div class="txt py-2 px-1" style="height:86px; background:#e6c563; margin:-16px; width:107%;">
        <div class="row">
            <div class="col-2"><div style="height:70px; width:80px;  background:white; margin-left:-4px; padding:6px 0px 0px 0px; color:rgba(255, 152, 0, 0.3); ">
                <div class="txt text-center fs-1">{{ x.eday }}</div>

            </div> </div>
            <P class="col-sm-10 txt" STYLE="font-size:15px;">{{ x.emonth }} {{ x.eyear }}<BR>10:00 AM  <BR> {{ x.eplace }} , {{ x.ecity }}</P>
        </div>
    </div>
      <div style="height:70px; width:107%;  padding-top:30px;" class="txt fs-3  px-2">Its Selfie Time for our Young Trainees</div>
      <div></div>

  </div>
</div>
            </div>
            {% endfor %}
                    </div>
        </div>
 </div>
<div class="container-fluids t10 " style="background:lightyellow; padding-top:50px;">
    <div class="row ">
        <div class="col-sm-12 text-center txt fs-1 text-success" style="letter-spacing:2px;">
          <a name="ourteam" style="text-decoration:none;"></a>  OUR TEAM
        </div>
        <div class="row mt-4 mb-4">
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(90px)" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic47.png'%}" height="40px" width="40px" style="margin-top:20px; transform:translateY(-15px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-90px)"/>
        </div>
    </div>
        <div class="col-sm-12 txt text-center mb-4">
            We at KRIYA provide various services to the nature of the clients. Wish how you would like to spend the time here<br>
we can talk and come to a conclusion.
        </div>
        <div class="col-12 mt-4" style="padding:10px 100px; box-sizing:border-box;">
            <div class="row">

                <div class="col-sm-3 t14">
                    <div class="row p-3">
                        <div class="col-sm-12 t11 txt text-center">
                            <div class="fs-2  mt-5">NIKITA TIWARI</div>
                            <DIV CLASS="FS-4">DIRECTOR</DIV>
                            <IMG src="{% static 'images/pic48.jpg'%}" class="teamp">
                        </div>
                        <div class="col-sm-12 t12 ">
                           <div class="t13 text-center txt"> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias provident destiny is about voles.
                        </div>
                            <div class="col-sm-12 my-4">
                                <img src="{% static 'images/pic6.png'%}" height="20px" width="100%" class="t13">
                            </div>
                            <div class="col-sm-12 text-center fs-4 text-dark" style="transform:translateY(100px);">
                                <a href="#" style="text-decoration:none; padding-left:10px;"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none;padding-left:30px;"><i class="fa-brands fa-solid fa-instagram" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none; padding-left:30px;"><i class="fa-brands fa-solid fa-facebook" style="color: #0d0d0d;"></i></a>
                            </div>
                            </div>
                    </div>

                </div>
                <div class="col-sm-3 ">
                    <div class="row p-3">
                        <div class="col-sm-12 t11 txt text-center">
                            <div class="fs-2  mt-5">SHIVANI MAURYA</div>
                            <DIV CLASS="FS-4">MANAGING DIRECTOR</DIV>
                            <IMG src="{% static 'images/pic49.jpg'%}" class="teamp">
                        </div>
                        <div class="col-sm-12 t12 ">
                           <div class="t13 text-center txt"> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias provident destiny is about voles.
                        </div>
                            <div class="col-sm-12 my-4">
                                <img src="{% static 'images/pic6.png'%}" height="20px" width="100%" class="t13">
                            </div>
                            <div class="col-sm-12 text-center fs-4 text-dark" style="transform:translateY(100px);">
                                <a href="#" style="text-decoration:none; padding-left:10px;"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none;padding-left:30px;"><i class="fa-brands fa-solid fa-instagram" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none; padding-left:30px;"><i class="fa-brands fa-solid fa-facebook" style="color: #0d0d0d;"></i></a>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row p-3">
                        <div class="col-sm-12 t11 txt text-center">
                            <div class="fs-2  mt-5">ARPITA TIWARI</div>
                            <DIV CLASS="FS-4">MANAGER</DIV>
                            <IMG src="{% static 'images/pic50.jpg'%}" class="teamp">
                        </div>
                        <div class="col-sm-12 t12 ">
                           <div class="t13 text-center txt"> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias provident destiny is about voles.
                        </div>
                            <div class="col-sm-12 my-4">
                                <img src="{% static 'images/pic6.png'%}" height="20px" width="100%" class="t13">
                            </div>
                            <div class="col-sm-12 text-center fs-4 text-dark" style="transform:translateY(100px);">
                                <a href="#" style="text-decoration:none; padding-left:10px;"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none;padding-left:30px;"><i class="fa-brands fa-solid fa-instagram" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none; padding-left:30px;"><i class="fa-brands fa-solid fa-facebook" style="color: #0d0d0d;"></i></a>
                            </div>
                            </div>
                    </div>
                </div>
                {% for x in team %}
                <div class="col-sm-3 ">
                    <div class="row p-3">
                        <div class="col-sm-12 t11 txt text-center">
                            <div class="fs-2  mt-5">{{ x.tname }}</div>
                            <DIV CLASS="FS-4">{{ x.tpost }}</DIV>
                            <IMG src="{% static 'images/pic51.jpg'%}" class="teamp">
                        </div>
                        <div class="col-sm-12 t12 ">
                           <div class="t13 text-center txt">{{ x.theading }}
                        </div>
                            <div class="col-sm-12 my-4">
                                <img src="{% static 'images/pic6.png'%}" height="20px" width="100%" class="t13">
                            </div>
                            <div class="col-sm-12 text-center fs-4 text-dark" style="transform:translateY(100px);">
                                <a href="#" style="text-decoration:none; padding-left:10px;"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none;padding-left:30px;"><i class="fa-brands fa-solid fa-instagram" style="color: #0d0d0d;"></i></a>
                                <a href="#" style="text-decoration:none; padding-left:30px;"><i class="fa-brands fa-solid fa-facebook" style="color: #0d0d0d;"></i></a>
                            </div>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<div style="height:50px;  transform:translateY(60px);">
    <img src="{% static 'images/load.jpg'%}" height="690px" width="100%">
</div>
</div>


<div class="container-fluids">
 <div class="row pt-4" style="background:lightyellow; >
        <a name="location"></a>
        <div class="col-12 txt text-success text-center mt-2 fs-1" style="letter-spacing:2px;">
            LOCATION
        </div>
        <div class="row mt-4" >
        <div class="col-5 text-end ">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(75px);" />
        </div>
        <div class="col-2 mx-auto  text-center " style="padding-left:40px;">
            <img src="{% static 'images/pic33.png'%}" height="25px" width="100px" style="margin-top:20px; transform:translateY(-12px);"/>
        </div>
        <div class="col-5 mx-auto "  style="padding-left:35px;">
            <img src="{% static 'images/pic6.png'%}" height="50px" width="200px" style="transform:translateX(-70px)"/>
        </div>
    </div>
        <div class="col-12 txt text-center fs-6 py-4">
            <span class="fs-4 ">KRIYA PVT. LTD. </span><BR>
            TEDHI PULIA RING ROAD , SECTOR-5 , VIKASH NAGAR<BR>
            LUCKNOW , UTTAR PRADESH , BHARAT
        </div>
        <div class="col-8 mx-auto " style="padding-bottom:80px; padding-top:50px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1779.0795651515127!2d80.9664722!3d26.8984444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDUzJzU0LjQiTiA4MMKwNTcnNTkuMyJF!5e0!3m2!1sen!2sin!4v1694586661934!5m2!1sen!2sin" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>

{% endblock %}
<div class="container-fluids">
    <div class="row">
        <div class="col-lg-12" style="background:brown; height:200px; "></div>
    </div>
</div>
